
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Madimi+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Madimi One",sans-serif;
    font-style: normal;
}
:root{
    --wdth:100vw;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    background-color: white;
    z-index: 10;
    /* border-bottom: 2px solid black; */
    box-shadow: 5px 5px 30px rgb(109,74,55);
}
header .nav{
    width: 1240px;
    height: 100%;
    position: relative;
    display: flex;
}
.main-nav{
    width: 68%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-nav h2{
    padding: 3px 10px 0 40px;
    font-size: 2rem;
    color: black;
    user-select: none;
    font-family: 'love', sans-serif;
}
.main-nav ul{
    display: inline-flex;
    align-items: center;
    list-style: none;
    padding-left: 40px;

}
.main-nav ul li{
    margin: 0 10px;
    padding: 5px 7px;
    border-bottom: 2px solid transparent;
}
.main-nav ul li a{
    letter-spacing: 0.8px;
    font-size: 1rem;
    font-weight: 30;
    text-decoration: none;
    color: black;
}
.main-nav ul li:hover{
    border-color: rgb(180,132,108);
    transition-duration: .2s;
    transition-timing-function: ease;
}
.main-nav ul li button{
    display: none;
    border: 2px solid black;
    border-radius: 50px;
    width: 90%;
    padding: 4px 17px;
    height: 70%;
    color: black;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;

}
.main-nav ul li button:hover{
    background-color: rgb(109,74,55);
    border-color: transparent;
    color: white;
    transition-duration: .2s;
    transition-timing-function: ease;
}
.sub-nav{
    position: absolute;
    right: 0;
    height:100%;
    display: inline-flex;
    justify-content: right;
    align-items: center;
}
.search{
    margin-right: 10px;
    min-width: 150px;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-search{
    cursor: pointer;
    padding-bottom: 7px;
}
.search span{
    cursor: pointer;
}
#input input{
    outline: 0;
    background-color: white;
    padding: 4px 7px 4px 5px;
    font-size: 0.85rem;
    font-weight: 10;
    border-radius: 50px;
    text-align: right;
    border: 2px solid black;
}
#input input::placeholder{
    color: black;
}
#input input:focus{
    border-color: rgb(180,132,108);
}
#bars{
    display: none;
}
#close{
   display: none;
}
.feed-btn{
    border: 2px solid black;
    border-radius: 50px;
    margin-right:15px;
    padding: 6px 17px;
    height: 70%;
    color: black;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
}
.feed-btn:hover{
    background-color: rgb(109,74,55);
    border-color: transparent;
    color: white;
    transition-duration: .2s;
    transition-timing-function: ease;
}
@media only screen and (max-width:500px) {
    .search{
        min-width: 75px;
        max-width: 75px;
    }
    #search-i{
        padding: 5px 0 5px 5px;
    }
    #input{
        background-color: white;
        min-width: 100vw;
        position: absolute;
        top: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        transform: translateY(-100%);
        transition: transform 0.5s ease;
        z-index: -10;
    }
    #input input{
        transform: scale(0);
        min-width: 97%;
        height: 80%;
        border-radius: 10px;
    }
    #input i{
        display:none;
    }
    #input.input-visible input{
        transform: scale(1);
        animation: slideIn 0.5s ease;
    }
    #input.input-visible{
        transform: translateY(0);
        animation: slideIn 0.5s ease;
    }
    
}
@media only screen and (min-width:501px) and (max-width:1024px){
    .search{
        max-width: 55px;
        min-width: 55px;
    }
}
@media only screen and (min-width: 501px){
    #input{
        position: relative;
        display: inline-flex;
        align-items: center;
        width: 30px;
        height: 32px;
        transition: all .5s ease;
    }
    #input input{
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        border-color: transparent;
    }
    #input i{
        position: absolute;
        left: 4px;
        padding: 5px;
        background-color:white;
        border-radius: 50px;
    }
    #input.input-visible{
        width: 200px;
    }
    .input-visible input{
        border-color: black;
    }
    #input.input-visible i{
        background-color: rgb(180,132,108);
        color: white;
    }
    #search-i{
        display: none;
    }
}
@media only screen and (max-width: 1024px){
    .main-nav h2{
        font-size: 1.5rem;
        padding-left: 5%;
    }
    .main-nav ul{
        display: inline-flex;
        width: 100%;
        padding: 0;
        flex-direction: column;
        position: absolute;
        top: 55px;
        background-color: white;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform .5s ease;
    }
    .main-nav ul li{
        margin: 0;
        width: 90%;
        margin: 4px 0 4px 0;
        text-align: center;
        border: none;
    }
    .main-nav ul li a{
        font-size: 1rem;
        border-bottom: 2px solid transparent;
    }
    .main-nav ul li a:hover{
        border-color: rgb(180,132,108);
        transition-duration: .2s;
        transition-timing-function: ease;
    }
    .main-nav ul li button{
        display: inline-block;
        font-size: 1rem;
    }
    .main-nav ul li{
        animation: slideInUp 0.5s ease backwards;
        opacity: 0;
    }
    .main-nav ul li:nth-child(1) {
        animation-delay: 0.1s;
    }
    
    .main-nav ul li:nth-child(2) {
        animation-delay: 0.2s;
    }
    
    .main-nav ul li:nth-child(3) {
        animation-delay: 0.3s;
    }
    .main-nav ul li:nth-child(4) {
        animation-delay: 0.4s;
    }
    .main-nav ul li:nth-child(5) {
        animation-delay: 0.5s;
    }
    .main-nav ul.ul-visible li{
        animation: slideInDown 0.5s ease forwards;
        opacity: 0;
    }
    .main-nav ul.ul-visible li:nth-child(1) {
        animation-delay: 0.1s;
    }
    
    .main-nav ul.ul-visible li:nth-child(2) {
        animation-delay: 0.2s;
    }
    
    .main-nav ul.ul-visible li:nth-child(3) {
        animation-delay: 0.3s;
    }
    .main-nav ul.ul-visible li:nth-child(4) {
        animation-delay: 0.3s;
    }
    .main-nav ul.ul-visible li:nth-child(5) {
        animation-delay: 0.3s;
    }
    .main-nav ul.ul-visible{
        transform: scaleY(1);
    }
    #bars{
        display: inline-block;
        font-size: 20px;
        padding-top: .98px;
        min-width: 22px;
        min-height: 22px;
        cursor: pointer;
        /* transition: display 1s ease; */
    }
    #close{
        display: none;
        cursor: pointer;
    }
    .feed-btn{
        display: none;
    }
}
@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideInUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}
@keyframes slideIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}
@media only screen and (max-width: 480px){
    .main-nav ul li a{
        font-size: 0.85rem;
    }
    .main-nav ul li button{
        font-size: 0.85rem;
    }
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
}
@keyframes text-dat{
    from{
        opacity: 0; 
        transform: translateY(-50%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.description{
    /* margin-top: 55px; */
    padding-bottom: 55px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.description.visible .mo-des #res-name{
    animation: text-dat 1.5s forwards;
}
.description.visible .mo-des .des{
    animation: text-dat 1.5s forwards;
    animation-delay: .2s;
}
.description.visible .mo-des .des h1{
    animation: text-dat 1.5s forwards;
    animation-delay: .4s;
}
.description.visible .mo-des .des p{
    animation: text-dat 1.5s forwards;
    animation-delay: .6s;
}
.description.visible .res-img img{
    animation: text-dat 3s forwards;
}
.description.extra.visible .res-imge img{
    animation: text-dat 3s forwards;
}
.description.extra{
    flex-direction: column;
}
.description.extra .mo-des{
    margin-left: 0;
    padding-top: 5vmin;
    width: 80vmin;
    height: 100%;
    justify-content: space-around;

}
.description.extra #res-name{
    text-align: center;
    /* font-size: 12vmin; */
    padding-bottom: 1vmin;
}
.description.extra .res-imge{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vmin;
}
.description.extra .res-imge img{
    width:99%;
    filter: drop-shadow(10px 10px 10px rgb(134, 131, 131));

}
.mo-des{
    margin-left: 10vmin;
    width: 68vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#res-name{
    font-family: "love", sans-serif;
    /* font-size: 13vmin; */
    letter-spacing: .2vmin;
}
.des{
    /* position: relative; */
    width: 100%;
    /* height: 27vmin; */
    padding: 10px 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(180,132,108);
    border-radius: 30px;
    box-shadow: 3px 3px 14px rgba(134, 131, 131, 0.5);
}
.des h1{
    font-size:5vmin;
    font-family: "Pacifico", cursive;
    padding-left: 3vmin;
}
.des p{
    font-family: "Madimi One", sans-serif;
    padding-left: 3vmin;
    text-align: left;
    font-size: 3vmin;
}
.des.extra h1{
    font-size: 7vmin;
} 
.des.extra p{
    font-size: 4.5vmin;
}
.res-img{
    margin-right: 3.5vmin;
    margin-left: 3.5vmin;
    height: 95vh;
    width: 80vmin;
    display: flex;
    align-items: center;
}
.res-img img{
    width:100%;
    filter: drop-shadow(10px 10px 10px rgb(134, 131, 131));
}
@keyframes scale_roll {
    0%{
        opacity: 0;
        transform:rotate(270deg);
    }
    100%{
        opacity: 1;
        transform:rotate(360deg);
    }
    
}
.ingredient{
    position: relative;
    width: 100%;
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 20vmin;
}
.ingredient.visible h1{
    animation:text-dat 1.5s forwards;
}
.ingredient.visible .sub-ingredient ul{
    animation:text-dat 1.5s forwards;
    animation-delay: .3s;
}
.ingredient.visible .sub-ingredient img{
    animation:text-dat 1.5s forwards;
    animation-delay: .6s;
}
.ingredient.extra.visible .sub-ingredient img{
    animation-delay: .3s;
}
.ingredient.extra.visible .sub-ingredient ul{
    animation-delay: .6s;
}
.ingredient h1{
    font-size: 9.5vmin;
    font-family: "Pacifico", cursive;
}
.sub-ingredient{
    margin-top: 3vmin;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.ingredient.extra .sub-ingredient{
    flex-direction: column;
}
.sub-ingredient ul{
    width: 67vmin;
}
.sub-ingredient ul li{
    font-size: 3vmin;
}
.sub-ingredient ul li::marker{
    color: rgb(109,74,55);
}
.sub-ingredient .dup-ingredient-img{
    width: 75vmin;
    margin-bottom: 3vmin;
}
.sub-ingredient .dup-ingredient-img img{
    width: 100%;
    border: .8vmin solid rgb(109,74,55);
    border-radius: 50px;
}
.sub-ingredient .ingredient-img{
    width: 67vmin;
}
.ingredient-img img{
    width: 100%;
    border: .8vmin solid rgb(109,74,55);
    border-radius: 50px;
}
.recipe{
    /* display: none; */
    width: 100%;
    background-color: rgb(180,132,108)
}
.recipe.visible #he-re{
    animation: text-dat 1.5s forwards;
}
.recipe #he-re{
    margin-left:5vmin;
    margin-right: 5vmin;
    text-align: center;
    font-size:9.5vmin;
    font-family: "Pacifico", cursive;
    padding-bottom: 1.4vmin;
    border-bottom: 2px solid white;
}
.subrecipe{
    /* margin-top: 16vmin; */
    width: 100%;
}
.steps{
    position: relative;
    width: 100%;
    /* height: 80vh;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.steps.visible #sthe{
    animation: text-dat 1.5s forwards;
}
.steps.visible .sub-step .sub-sub-step{
    animation: text-dat 1.5s forwards;
    animation-delay: .3s;
}
.steps.visible .sub-step img{
    animation: text-dat 1.5s forwards;
    animation-delay: .5s;
}
.steps.visible .sub-step.extra .sub-sub-step{
    animation: text-dat 1.5s forwards;
    animation-delay: .5s;
}
.steps.visible .sub-step.extra img{
    animation: text-dat 1.5s forwards;
    animation-delay: .3s;
}
.steps #sthe{
    position: absolute;
    top: 0;
    left: 15vmin;
    font-size:9.2vmin;
    font-family: "Pacifico", cursive;
}
.sub-step{
    margin-top:17vmin;
    padding-bottom: 12vmin;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid white;
}
.sub-step.extra{
    flex-direction: column-reverse;
}
.sub-step.extra img{
    margin-top: 2vmin;
}
.sub-sub-step h1{
    font-size: 5vmin;
    font-family: "Pacifico", cursive;
}
.sub-sub-step p{
    width: 75vmin;
    font-size: 3vmin;
}
.sub-step img{
    /* display: none; */
    width: 60vmin;
    border-radius: 20px;
    border: 5px solid white;
}
@font-face {
    font-family: 'love';
    src: url(../fonts/Love.otf);
}
.variations{
    position: relative;
    width: 100%;
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}
.variations.visible h1{
    animation: text-dat 1.5s forwards;
}
.variations.visible .sub-variant{
    animation: text-dat 1.5s forwards;
    animation-delay: .3s;
}
.variations h1{
    /* position: absolute; */
    /* top: 5vmin; */
    font-size:9.5vmin;
    font-family: "Pacifico", cursive;
}
.sub-variant{
    margin-top: 3vmin;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vmin;
}
.sub-variant #sub-variant{
    width: 67%;
}
#sub-variant li{
    font-size: 3vmin;
}
#sub-variant li::marker{
    color: rgb(109,74,55);
}
#sub-variant li ul{
    margin-left: 8vmin;
}

footer{
    /* position: relative; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    width: 100%;
    height: 250px;
    background-color: rgb(36,22,18);
}
.foot{
    max-width: 1440px;
    width: 1440px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;

}
#links::before{
    content: "";
    border-top: 1px solid white;
    position: absolute;
    top: 50%;
    right: 0;
    width: 37%;
}
#links{
    position: relative;
    width: 70%;
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 33px;
}
#links::after{
    content: "";
    border-top: 1px solid white;
    position: absolute;
    top: 50%;
    left: 0;
    width: 37%;
}
#links li{
    margin:0 15px 0 15px;
}
#links li a{
    color: white;
}
#links li a:hover{
    transition-duration: .2s;
    transition-timing-function: ease;
    color:rgb(235,113,88);
}
.copy{
    margin-top: 20px;
    width: 190px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copy #name{
    font-size: 20px;
    font-weight: 100;
    font-family: 'love', sans-serif;
    color: white;
}
.copy h1{
    font-size: 10px;
    color: white;
    font-weight: 50;

}
#icons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    list-style: none;
    font-weight: 30;
    margin-top: 10px;
    border-left: 1px solid white;
}
#icons li {
    padding: 0 15px 0 15px;
    border-right: 1px solid white;
}
#icons li a{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
}
#icons li a:hover{
    transition-duration: .2s;
    transition-timing-function: ease;
    border-color:rgb(235,113,88);
    /* color: rgb(235,113,88); */
}
@media only screen and (max-width:900px){
    #links::before{
        width: 30%;
    }
    #links::after{
        width: 30%;
    }
}
@media only screen and (max-width:580px){
    #links::before{
        width: 23%;
    }
    #links::after{
        width: 23%;
    }
}
@media only screen and (max-width:420px){
    #links::before{
        width: 16%;
    }
    #links::after{
        width: 16%;
    }
    #icons{
        font-size: 13px;
    }
    #icons li{
        padding:0 10px 0 10px;
    }
}
@media only screen and (max-width:330px){
    #links::before{
        width: 0%;
    }
    #links::after{
        width: 0%;
    }
}
@media only screen and (max-width:295px){
    #icons{
        font-size: 10px;
    }
    #icons li{
        padding:0 7px 0 7px;
    }
}
@font-face {
    font-family: 'love';
    src: url(/fonts/Love.otf);
}